.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        min-height: 50rem;
        height: 100%;
        position: relative;
      }

      input {
        font-size: 12px;
      }

 h1 {
        color: #525454;
        font-size: 25px;
        margin: 0 0 10px 0;
        text-align: center;
      }
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.input-wrapper input {
  height: 100%;
  width: 94%;
  background-color: #fff;
  line-height: 30px;
  padding: 0.5em;
  font-size: 15px;
}

.header {
 
  padding: 12px 0 5px 0;
  text-align: center;
  background-color: #ddd;
  font-size: 25px;
}

.footer {
 
  padding: 12px 0 5px 0;
  text-align: center;
  background-color: #ddd;
  font-size: 15px;
}

.main {
  text-align: left;
  position: relative; 
  overflow: hidden;
  min-height: 600px;
  padding: 0 0 0 0;

 
}
.aside-1{
  max-width: 300px;
}

.input-wrapper {
  height: 35px;
  margin: 0,5em 0 0,5em 0;
} 

.filtered-list {
  list-style: none;
  padding: 0.5em;
  background-color: #ddd;
}

.filtered-list .result-item {
  font-size: 25px;
  padding: 0.5em;
  border-bottom: 1px solid #b0bec5;
  cursor: pointer;
}

.filtered-list .result-item:hover,
.filtered-list .result-item:focus {
  color: #000;
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; } 
  .footer  { order: 4; }
}
@media all and (max-width: 800px) {
   .aside-1 { max-width : 800px; } 
  
}

